@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

//display settings
@mixin disp {
  display: flex;
  flex-direction: column;  
}

//logbox font settings
$font_pos_a_a:3em;
$font_pos_a_b:2.5em; 
$font_pos_a_c:3.5em; 
$font_pos_a_d:2.5em; 
$top_pos_a_a:0em;
$top_pos_a_c:-2em;
$top_pos_a_d:-2em;

//image settings
$img_top_a:1em;
$img_top_b:3em;
$img_top_c:30em;
$img_top_d:25em;

//logbox text settings
@mixin texts{
  font-size:$font_pos_a_a;
  position: relative;
  font-family: "Great Vibes", cursive;
  text-align: center;
}

//form top-margin settings
$form_margin_a:50%;
$form_margin_b:30%;
$form_margin_c:-8em;
$form_margin_d:-4em;

//form input settings
@mixin inputs {
  background-color: black;
  color:gold;
  border-radius:25px;
  border: 2px solid;
  outline: none;
}
$padding_input_a:15px;
$padding_input_b:10px;
$padding_input_c:5px;

body {
  background-color:black;
  @include disp;
  align-content: center;
  }

.cont{
  @include disp;
  position: absolute;
  align-self: center;
  background-color:rgb(14, 13, 13);
  width:1920px;
  height:1080px;
  z-index: 0;
  top:0em;
  overflow:scroll;
  }
@media(max-width:1920px){
  [class *= cont]{
    width:100vw;
    Height:100vh;
  }
}
.logbox {
  position: absolute;
  @include disp;
  align-self: flex-end;
  background-color:rgb(14, 13, 13);
  color: gold;
  height:100%;
  width:20%;
  z-index:0;
  }
@media (max-width:850px) {
  [class*="logbox"] {
    width:100%;
    height:30em;
    background-color: rgb(14, 13, 13);
  }
}
img {  
  position: absolute;
  align-self: flex-start;
  width:79.5%;
  height:auto;
  z-index:0;
  top:$img_top_a;
  margin-left: 0.1em;
}
@-webkit-keyframes anim {
  50% {
    opacity: 0;
  }
}
@keyframes anim {
  50% {
    opacity: 0;
  }
}
img.img_two {
  -webkit-animation-name: anim;
  animation-name: anim;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
@media (max-width:1500px) {
  [class*="img"] {
    top:$img_top_b;    
    }
  }
@media (max-width:850px) {
  [class*="img"] {
    top:$img_top_c;
    width:100%;
    margin-left:0.1em;    
    }
}
@media (max-width:500px) {
  [class*="img"] {
    top:$img_top_d;
    right:0em;
    }
}
.pos_a {
  @include texts;
  top:$top_pos_a_a;  
  }
@media (max-width: 1500px) {
  [class *= "pos_a"] {    
    font-size:$font_pos_a_b;    
  }
}
@media (max-width:850px) {
  [class *= "pos_a"] {
    top:$top_pos_a_c;
    font-size:$font_pos_a_c;
  }
}
@media (max-width:500px) {
  [class *= "pos_a"] {
    top:$top_pos_a_d;
    font-size:$font_pos_a_d;
    margin-left: 0em;
  }
}
form{
    margin-top: $form_margin_a;
    text-align: center;
}
@media(max-width:1500px){
  form{
    margin-top: $form_margin_b;
  }
}
@media(max-width:850px){
  form{
    margin-top: $form_margin_c;
  }
}
@media(max-width:500px){
  form{
    margin-top: $form_margin_d;
  }
}
input[type="text"]{
  @include inputs;
  padding:$padding_input_a;
  width:50%;
  
  }
 @media(max-width:1500px){
  input[type="text"]{
    padding: $padding_input_b;
  }
}
@media(max-width:500px){
  input[type="text"]{
    padding: $padding_input_c;
  }
}
 input[type="password"]{
  @include inputs;
  padding:$padding_input_a;
  width:50%;
 }
 @media(max-width:1500px){
  input[type="password"]{
    padding: $padding_input_b;
  }
}
@media(max-width:500px){
  input[type="password"]{
    padding: $padding_input_c;
  }
}
 input[type="submit"]{
  @include inputs;
  padding:$padding_input_a;  
  cursor: pointer;
 }
 @media(max-width:1500px){
  input[type="submit"]{
    padding: $padding_input_b;
  }
}
@media(max-width:500px){
  input[type="submit"]{
    padding: $padding_input_c;
  }
}
