@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

//General settings
@mixin general {
  display: flex;
  flex-direction: column;
  background-color: black; 
   }

//navbar settings
$navbar_height_a:5em;
$navbar_height_b:4.8em;
$navbar_height_c:20em;
$navbar_height_d:15em;

$font-size_bar_a:3em;
$font-size_bar_b:2.5em;
$font-size_bar_d:2em;

$pos_one_top_a:0.3em;
$pos_one_top_b:0.6em;
$pos_one_top_c:3em;

$pos_two_top_a:-1.7em;
$pos_two_top_b:-1.4em;
$pos_two_top_c:1em;

$pos_three_top_a:-3.7em;
$pos_three_top_c:1em;

$pos_four_top_a:-4.9em;
$pos_four_top_c:0em;

//image settings
$img_top_a:5.6em;
$img_top_b:5.5em;
$img_top_c:52em;
$img_top_d:42em;

//text settings
$font-size_txt_a:2em;
$font-size_txt_b:1.5em;
$font-size_txt_c:1.3em;
$font-size_txt_d:1em;
$top_txt_a:3em;
$top_txt_b:5em;
$top_txt_c:18em;
$top_txt_d:18em;

//bar settings
@mixin vert{
  position: absolute;  
  background-image: linear-gradient(red, cornsilk);
  }
@mixin horizont {
  position: absolute;  
  background-image: linear-gradient(-90deg,red, cornsilk);
}

$vline_one_top_a:6em;
$vline_one_top_b:8em;
$vline_one_top_c:27em;
$vline_one_top_d:18em;
$vline_one_height_a:35em;
$vline_one_height_b:30em;
$vline_one_height_c:15em;

$vline_two_top_a:9em;
$vline_two_top_b:11em;
$vline_two_top_c:24em;
$vline_two_top_d:17em;
$vline_two_height_a:30em;
$vline_two_height_b:25em;
$vline_two_height_c:20em;
$vline_two_height_d:18em;

$vline_three_top_a:12em;
$vline_three_top_b:14em;
$vline_three_top_c:22em;
$vline_three_top_d:16em;
$vline_three_height_a:25em;
$vline_three_height_b:20em;
$vline_three_height_c:24em;
$vline_three_height_d:18em;

$hline_one_top_a:40em;
$hline_one_top_b:44em;
$hline_one_top_c:36em;
$hline_one_width_a:35%;
$hline_one_width_b:40%;
$hline_one_width_c:70%;

$hline_two_top_a:41em;
$hline_two_top_b:39em;
$hline_two_top_c:45em;
$hline_two_top_d:37em;
$hline_two_width_a:40%;
$hline_two_width_b:35%;
$hline_two_width_c:80%;

$hline_three_top_a:42em;
$hline_three_top_b:38em;
$hline_three_top_c:46em;
$hline_three_width_a:45%;
$hline_three_width_b:30%;
$hline_three_width_c:90%;

//footer settings
$ftr_height_a:6em;
$ftr_height_c:3em;
$ftr_height_d:2em;

$ftr_top_a:68em;
$ftr_top_b:58em;
$ftr_top_c:67em;
$ftr_top_d:77em;


body {
  @include general;
  background-color:black;
}
.cont {
  position: absolute;
  @include general;
  align-self: center;
  width:1920px;
  height:1080px;
  }
@media (max-width:1920px){
   [class *= cont]{
     width:100vw;
     height:100vh;
   }
 }
.navbar {
  position:absolute;
  @include general;
  align-self: center;
  font-family: "Great Vibes", cursive;
  color: gold;
  width: 100%;
  height:$navbar_height_a;
  
  }
@media (max-width: 1500px) {
  [class*="navbar"] {
    height: $navbar_height_b;
  }
}
@media (max-width: 850px) {
  [class*="navbar"] {
    height: $navbar_height_c;
  }
}
@media (max-width: 500px) {
  [class*="navbar"] {
    height: $navbar_height_d;
  }
}
.img {
  position: relative;
  align-self: flex-start;
  display: flex;
  box-shadow: 5px 5px 10px gold;
  height:auto;
  width:45%;
  z-index:2;
  margin-top: -0.5em;
  margin-left:0em;
  top:$img_top_a;
  }
@media (max-width: 1500px) {
  [class*="img"] {
    top:$img_top_b;
   }
  }
@media (max-width: 850px) {
  [class*="img"] {
    top:$img_top_c;
    width:100vw;
    }
}
@media (max-width:500px) {
  [class*="img"] {
    top:$img_top_d;
    width:100vw;
    }
}
a {
  text-decoration: none;
  outline: none;
  text-emphasis: none;
  color: gold;
}
.scl:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.txt {
  position: absolute;
  align-self:center;
  font-family: 'Indie Flower', cursive;
  font-size: $font-size_txt_a;
  left:51%;
  top:$top_txt_a;
  color: gold;
}
@media (max-width: 1500px) {
  [class*="txt"] {
    font-size: $font-size_txt_b;
    top:$top_txt_b;
  }
}
@media (max-width: 850px) {
  [class*="txt"] {
    align-self: center;
    font-size: $font-size_txt_c;
    margin-left: 0%;
    left: 3em;
    top: $top_txt_c;
    right:0.1em;
  }
}
@media (max-width: 500px) {
  [class*="txt"] {
    font-size:$font-size_txt_d;
    left:2em;
    top:$top_txt_d;
  }
}
.vline_one {
  @include vert;
  align-self: center;
  margin-left:-4%;
  height:$vline_one_height_a;
  top:$vline_one_top_a;
  width: 0.5em;
}
@media (max-width: 1500px) {
  [class*="vline_one"] {
    align-self: center;
    height:$vline_one_height_b;
    top:$vline_one_top_b;
  }
}
@media (max-width:850px) {
  [class*="vline_one"] {
    align-self: flex-start;
    top:$vline_one_top_c;
    margin-left:3em;
    height:$vline_one_height_c;
  }
}
@media (max-width:500px) {
  [class*="vline_one"] {
    align-self: flex-start;
    top:$vline_one_top_d;
    margin-left:1.5em;
    height:$vline_one_height_c;
    width: 0.25em;
  }
}
.vline_two {
  @include vert;
  align-self: center;
  margin-left:-2%;
  height:$vline_two_height_a;
  top:$vline_two_top_a;
  width: 0.5em;
}
@media (max-width: 1500px) {
  [class*="vline_two"] {
    align-self: center;
    height:$vline_two_height_b;
    top:$vline_two_top_b;
    width: 0.5em;
  }
}
@media (max-width:850px) {
  [class*="vline_two"] {
    align-self: flex-start;
    top:$vline_two_top_c;
    margin-left:2em;
    height:$vline_two_height_c;
    width: 0.5em;
    }
}
@media (max-width:500px) {
  [class*="vline_two"] {
    align-self: flex-start;
    top:$vline_two_top_d;
    margin-left:1em;
    height:$vline_two_height_d;
    width: 0.25em;
  }
}
.vline_three {
  @include vert;
  align-self: center;
  margin-left:0%;
  height:$vline_three_height_a;
  top:$vline_three_top_a;
  width: 0.5em;
}
@media (max-width: 1500px) {
  [class*="vline_three"] {
    align-self: center;
    height:$vline_three_height_b;
    top:$vline_three_top_b;
    width: 0.5em;
  }
}
@media (max-width:850px) {
  [class*="vline_three"] {
    align-self: flex-start;
    top:$vline_three_top_c;
    margin-left:1em;
    height:$vline_three_height_c;
    width: 0.5em;
     }
}
@media (max-width:500px) {
  [class*="vline_three"] {
    align-self: flex-start;
    top:$vline_three_top_d;
    margin-left:0.5em;
    height:$vline_three_height_b;
    width: 0.25em;
     }
}
.hline_one {
  @include horizont;
  align-self: flex-end;
  width:$hline_one_width_a;
  top:$hline_one_top_a;
  right: 8em;
  height: 0.5em;
}
@media (max-width:1500px) {
  [class*="hline_one"] {
    width:$hline_one_width_b;
    right:0em;
    margin-right: 4em;
    top:$hline_one_top_a;
    height: 0.5em;
  }
}
@media (max-width: 850px) {
  [class*="hline_one"] {
    align-self: center;
    width:$hline_one_width_c;
    top:$hline_one_top_b;
    right: 0.5em;
    height: 0.5em;
     }
}
@media (max-width: 500px) {
  [class*="hline_one"] {
    align-self: center;
    width:$hline_one_width_c;
    top:$hline_one_top_c;
    right: 0em;
    height:0.25em;
     }
}
.hline_two {
  @include horizont;
  width:$hline_two_width_a;
  align-self: flex-end;
  top:$hline_two_top_a;
  right:6em;
  height: 0.5em;
}
@media (max-width:1500px) {
  [class*="hline_two"] {
    width:$hline_two_width_b;
    right: 6em;
    top:$hline_two_top_b;
    height: 0.5em;
  }
}
@media (max-width: 850px) {
  [class*="hline_two"] {
    align-self: center;
    right:3em;
    width:$hline_two_width_c;
    top:$hline_two_top_c;
    height: 0.5em;
  }
}
@media (max-width: 500px) {
  [class*="hline_two"] {
    align-self: center;
    width:$hline_two_width_c;
    top:$hline_two_top_d;
    right:2.5em;
    height: 0.25em;
     }
}
.hline_three {
  @include horizont;
  width:$hline_three_width_a;
  align-self: flex-end;
  top:$hline_three_top_a;
  right: 3em;
  height: 0.5em;
}
@media (max-width:1500px) {
  [class*="hline_three"] {
    width:$hline_three_width_b;
    right:0em;
    margin-right:8em;
    top:$hline_three_top_b;
    height: 0.5em;
  }
}
@media (max-width: 850px) {
  [class*="hline_three"] {
    align-self: center;
    margin-right: 1em;
    width:$hline_three_width_c;
    top:$hline_three_top_c;
    height: 0.5em;
  }
}
@media (max-width: 500px) {
  [class*="hline_three"] {
    align-self: center;
    width:$hline_three_width_c;
    top:$hline_three_top_b;
    right:0.5em;
    height: 0.25em;
     }
}

.pos_one {
  position: relative;
  align-self: flex-start;
  top:$pos_one_top_a;
  font-size: $font-size_bar_a;
}
@media (max-width: 1500px) {
  [class*="pos_one"] {
    font-size: $font-size_bar_b;
    top:$pos_one_top_b;
  }
}
@media (max-width: 850px) {
  [class*="pos_one"] {
    align-self: center;
    top:$pos_one_top_c;
    font-size: $font-size_bar_a;
  }
}
@media (max-width: 500px) {
  [class*="pos_one"] {
    top:$pos_one_top_c;
    align-self: center;
    font-size: $font-size_bar_d;
  }
}
.pos_two {
  position: relative;
  align-self: flex-start;
  top:$pos_two_top_a;
  margin-left:1em;
  font-size:$font-size_bar_a;
}
@media (max-width: 1500px) {
  [class*="pos_two"] {
    top: $pos_two_top_b;
    font-size:$font-size_bar_b;
  }
}
@media (max-width: 850px) {
  [class*="pos_two"] {
    align-self: center;
    margin-left:3em;
    top:$pos_two_top_c;
    font-size: $font-size_bar_a;
  }
}
@media (max-width:500px) {
  [class*="pos_two"] {
    align-self: center;
    top:$pos_two_top_c;
    margin-left:3em;
    font-size: $font-size_bar_d;
  }
}
.pos_three {
  position: relative;
  align-self: flex-end;
  top:$pos_three_top_a;
  right:0.5em;
  font-size: $font-size_bar_a;
}
@media (max-width:1500px) {
  [class*="pos_three"] {
    font-size: $font-size_bar_b;
  }
}
@media (max-width: 850px) {
  [class*="pos_three"] {
    top:$pos_three_top_c;
    font-size: $font-size_bar_a;
  }
}
@media (max-width: 500px) {
  [class*="pos_three"] {
    top:$pos_three_top_c;
    font-size: $font-size_bar_d;
  }
}
.pos_four {
  position: relative;
  align-self: flex-end;
  top:$pos_four_top_a;
  right:4em;
  font-size: $font-size_bar_a;
}
@media (max-width:1500px) {
  [class*="pos_four"] {
    font-size: $font-size_bar_b;
  }
}
@media (max-width: 850px) {
  [class*="pos_four"] {
    align-self: flex-start;
    top:$pos_four_top_c;
    left:0.5em;
    font-size: $font-size_bar_a;
  }
}
@media (max-width: 500px) {
  [class*="pos_four"] {
    top:$pos_four_top_c;
    font-size: $font-size_bar_d;
      }
}
.pos_five {
  position: relative;
  align-self: center;
  top:-7em;
  font-size: $font-size_bar_a;
}
@media (max-width:1500px) {
  [class*="pos_five"] {
   font-size: $font-size_bar_b;
  }
}
@media (max-width: 850px) {
  [class*="pos_five"] {
    font-size: $font-size_bar_a;
  }
}
@media (max-width:500px) {
  [class*="pos_five"] {
    font-size: $font-size_bar_d;
    }
}
.ftr {
  position: absolute;
  align-self: flex-end;
  display: -webkit-box;
  display:flex;
  text-align: center;
  justify-content: center;
   -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  background-color:black;
  color: white;
  height:$ftr_height_a;
  width:50%;
  top:$ftr_top_a;
  z-index:1;
  font-size:0.7em;
    }
@media (max-width: 1500px) {
  [class*="ftr"] {
  align-self: flex-end;
  height:$ftr_height_a;
  top:$ftr_top_b;
  }
  }
@media (max-width:850px) {
  [class*="ftr"] {
  height:$ftr_height_c;
  top:$ftr_top_c;
  align-self: center;
    }
@media (max-width:500px) {
  [class*="ftr"] {
  height:$ftr_height_d;
  top:$ftr_top_d;
  align-self: center;
  font-size: 0.5em;
  }
}
}
